.bannerStyle {
  color: rgb(91, 16, 4);
  font-weight: 700;
  font-size: 40px;
  padding-top: 15px;
  font-family: "Arial", "Microsoft YaHei";
}

.subBannerStyle {
  color: rgb(91, 16, 4);
  padding-top: 15px;
  font: 400 20px "";
}

.splitterStyle {
  padding-top: 30px;
  border-bottom: 1px dashed #ffae63;
}
